body {
    font-family: 'Arial', sans-serif;
    background: url('Image.jpg');
    background-size: cover;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: flex-start;  /* Changed from center to flex-start */
    height: 100vh;
    margin: 0;
    padding: 20px;
}

.container {
    padding-top: 50px; /* Added padding at the top */
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: fadeIn 1s ease-in-out;
    width: 100%;
    max-width: 400px;
    background: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
}

h2 {
    color: #af4261;
    margin-bottom: 20px;
    font-size: 24px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form input[type="number"],
.form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

.btn {
    background: #af4261;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    margin-top: 10px;
    width: 100%;
    font-size: 16px;
}

.btn:hover {
    background: #f3ec78;
    color: #333;
}

.result {
    font-size: 1.5em;
    color: #af4261;
    margin: 20px 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
